In [13]:
import yfinance as yf
from matplotlib import pyplot

In [2]:
company = 'AAPL'
data = yf.download(company, start="2020-01-01", end="2020-09-10")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,72.482498,73.419998,72.379997,73.412498,72.909500,100805600
2020-01-02,74.059998,75.150002,73.797501,75.087502,74.573036,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.848030,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,74.436470,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,74.086395,108872000
...,...,...,...,...,...,...
2020-09-02,137.589996,137.979996,127.000000,131.399994,131.399994,200119000
2020-09-03,126.910004,128.839996,120.500000,120.879997,120.879997,257599600
2020-09-04,120.070000,123.699997,110.889999,120.959999,120.959999,332607200
2020-09-08,113.949997,118.989998,112.680000,112.820000,112.820000,231366600
2020-09-09,117.260002,119.139999,115.260002,117.320000,117.320000,176940500

In [6]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
prices = data[data.columns[0:1]]

In [12]:
prices

                  Open
Date
2019-12-31   72.482498
2020-01-02   74.059998
2020-01-03   74.287498
2020-01-06   73.447502
2020-01-07   74.959999
...                ...
2020-09-02  137.589996
2020-09-03  126.910004
2020-09-04  120.070000
2020-09-08  113.949997
2020-09-09  117.260002

[175 rows x 1 columns]